$prime-text-color:#007ee5;
$dark-text-color:#333333;
$base-text-color:#53585c;
$light-text-color:#ced6dd;

$border-color:#d0dce7;
$button-color:#ecf1f5;

$icone-colore:#727e88;
$importent-color:#fff;
$wrapp-color:#f5f8f9;

////////////






$prime-bg:#f5f8f8;
$darker-bg:#ecf1f5;
$importent-color:#fff;