#about {
  position: relative;
  .section {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .profile-info-edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $importent-color;
    z-index: 3;
  }
}
.address {
  .type-prof {
    display: block;
    @media (min-width:768px) {
      display: none;
    }
  }
  .address-item {
    position: relative;
    .edit-popup {
      display: none;
      position: absolute;
      width: 320px;
      left: 14%;
      top: 0;
      padding: 25px;
      @include box-shadow(0px 0px 20px 3px rgba(222,227,229,1));
      background: $importent-color;
      z-index: 2;
      &:before {
        content: "";
        position: absolute;
        left: -2%;
        top: 10%;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid $importent-color;
        border-bottom: 10px solid transparent;
      }
      .popup-edit-input {
        margin-bottom: 25px;
      }
      &.show-popup {
        display: block;
      }
    }
  }
}