body {
  background: $wrapp-color;
  .wrap {
    max-width: 1160px;
    margin: 75px auto 0;
    padding: 25px 25px 0;
    background: $importent-color;

    @media (max-width:767px) {
      margin-top: 40px;
      background: transparent;
    }
  }
  .btn-logo-out {
    text-align: right;
  }
  .file-upload {
    margin: 0 auto;
  }
  .profile-info {
    @include display-flex;
    @include align-items(center);
    
    @media (max-width:767px) {
      @include flex-direction(column);
      margin-top: 45px;
    }
    .profile-foto-wrap {
      max-width: 170px;
      max-height: 170px;
      overflow: hidden;
      @include box-shadow (0px 0px 26px -3px rgba(0,0,0,0.63));
      @include transform (translateY(13%));

      @media (max-width:767px) {
        max-width: 135px;
        max-height: 135px;
        @include transform (translateY(0));
      }

      img {
        position: relative;
        right: 50%;
        width: 173%;
        height: 160%;
      }
    }
    .mobail-nick {
      margin-top: 25px;
      @media (min-width:767px) {
        display: none;
      }
    }
    .profile-inform-list {
      flex-grow: 1;
      margin-top: 50px;
      margin-left: 30px;
      
      @media (max-width:767px) {
        align-self: flex-start;
        margin-left: 0;

        .decktop-nick  {
          @media (max-width:767px) {
            display: none;
          }
        }
      }
      .profile-inform-list-item {
        margin-bottom: 10px;
        margin-top: 15px;
        span {
          display: inline-block;
          padding-right: 10px;
        }
      }
    }
    .rating {
      color:$icone-colore;

      @media (max-width:767px) {
        @include align-self(flex-start);
        color: $prime-text-color;
      }
      .count {
        display: inline-block;
        margin-left: 30px;
        
        @media (max-width:767px) {
          display: block;
          margin-top: 5px;
          margin-left: 0;
          margin-bottom: 26px;
        }
      }
      .count-follow {
        display: block;
        margin-bottom: 20px;
        @media (min-width:767px) {
          display: none;
        }
      }
    }
  }
}
